* {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#logo {
  background-position: center;
  background-size: cover;
  width: 4.3rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: #f6e2d9;
  max-height: 5.6rem;
}

#navbar li {
  cursor: pointer;
}

#navbar li {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

#navbar li a{
  color: #000;
}

#navbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d45e4a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navbar li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navbar a:hover{
  color: #fff;
}

#doacao {
  display: block;
  background-color: #d45e4a;
  align-self: flex-start;
  font-size: 1.5rem;
  line-height: 2.25;
  margin-bottom: -1rem;
  min-width: 8rem;
  padding-top: 3rem;
  text-align: center;
  width: 10rem;
  text-transform: uppercase;
}

#content{
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../assets/Foto-futura-casa.png");
  background-size: cover;
  background-position: center;
}

#content header #banner{
  display: flex;
  align-items: flex-end;
  height: 28rem;
  padding: 1.5rem;
}

.container {
  padding: 2.5rem 1.5rem;
  margin: 0 5rem;
}

#banner h1 {
  background-color: #d45e4a;
  color: #fff;
  font-size: 2rem;
  line-height: 1em;
  margin: 0;
  padding: 1.2rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.container h2 {
  color: #d45e4a;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container p {
  color: #000;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
}

.container #previa {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

#previa li {
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

#previa li h3 {
  color: #d45e4a;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#previa li img{
  transition: all .3s ease-in-out;
  transform-origin: center;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

#previa li img:hover {
  transform: scale(1.1);
}


.container #acoes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

#acoes li {
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

#acoes li h3 {
  color: #d45e4a;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#acoes li img{
  transition: all .3s ease-in-out;
  transform-origin: center;
  width: 20rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

#acoes li img:hover {
  transform: scale(1.1);
}


#contato{
  background-color: #f2bea9;
}

#contato .container{
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  align-items: flex-start;
}

.contato{
  display: flex;
  flex-direction: column;
}

.contato h1, .contato p, .contato a{
  margin-bottom: 2rem;
}

.contato h1{
  font-size: 3rem;
}

.contato a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  transition: .2s;
}

.contato a:hover{
  color: #d45e4a;
}

.contato .zap{
  font-size: 1.5rem;
  margin-left: .5rem;
}

.social a{
  font-size: 2.5rem;
  margin-right: 1rem;
  transition: .2s;
}

.social a:hover{
  color: #d45e4a;
}

#parceiros h1{
  font-weight: bold;
  font-size: 3rem;
}

#parceiros .logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.parceiros #irani{
  background-size: cover;
  background-position: center;
  width: 6.25rem;
  border-radius: 50%;
}

#local h2, #local p{
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

#local h2{
  font-weight: bold;
  color: #000;
}

/* responsivo */
@media (max-width: 450px){
  #logo {
    width: 2.5rem;
  }
  
  #navbar li{
    font-size: 1.5rem;
    margin: 0 .1rem;
  }

  #navbar {
    font-size: .5rem;
    max-height: 4.3rem;
  }

  #doacao {
    line-height: 2;
    margin-bottom: 23rem;
    min-width: 7rem;
    width: 2rem;
  }

  #content header #banner{
    height: 24rem;
    padding: 1rem;
  }

  #banner h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .container {
    padding: 2.5rem 1rem;
    margin: 0 1rem;
  }

  .container h2 {
    font-size: 2rem;
  }

  #contato .container{
    gap: 2rem;
    flex-direction: column;
  }

  .contato h1{
    font-size: 2.5rem;
  }

  .contato h1, .contato p, .contato a{
    margin-bottom: 1rem;
  }

  .social a{
    font-size: 2rem;
  }

  #parceiros h1{
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }

  .parceiros #irani{
    width: 70px;
  }
}